html, body, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*flex-flow: row nowrap;*/
    align-items: stretch;
    justify-content: space-between;
    align-content: stretch;
}

.container.column{
    flex-direction: column;
}

.receiver {
    flex: 1 1 50%;
    background-color: #dfe;
}

.sender {
    flex: 1 1 50%;
}

.sender.active {
    background-color: rgba(125, 138, 33, .4);
}

.receiver{
    overflow-x: hidden;
    overflow-y: scroll;
}

.sender .selector {
    overflow: hidden;
}

.sender .selector {
    position: relative;
    height: 30px;
    width: 100%;
    border: 1px solid #8dd;
}

.sender .selector button {
    float: left;
    height: 100%;
    width: 20%;
    min-width: 80px;
    background-color: #8dd;
    border: none;
    overflow: hidden;
}

.sender .selector .file-name {
    padding-left: 10px;
    height: 100%;
    width: auto;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sender .select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.control-panel{
    position: absolute;
    top: 20px;
    right: 10px;

}